* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-tow: #eba83a;
  --color-one: #bb371a;
  --color-three: #fff8d9;
  --color-four: #d5dbb3;
}

body {
  height: 100%;
}
body {
  background-color: var(--color-three);
  font-family: "Poppins", sans-serif;
  position: relative;
}
main,
.content {
  height: 100%;
  position: relative;
}
.icon {
  height: 25px;
  width: 25px;
}
.show {
  display: block !important;
}
.container {
  width: 80%;
  margin: auto;
  max-width: 900px;
}
.btn {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}
header {
  background-color: var(--color-one);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.navbar .container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  color: var(--color-three);
}
.navbar .links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar .links .link {
  text-decoration: none;
  color: inherit;
}
.burger-menu {
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-three);
  text-align: center;
}
.hero-text h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.hero-text .order-now {
  background-color: var(--color-one);
  color: var(--color-three);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
}
.photos {
  margin: 20px 0;
  text-align: center;
}
.photos h2,
.menu h2,
.contact-us h2,
.about h2 {
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--color-one);
  border-bottom: 2px solid var(--color-one);
  display: inline-block;
}
.photos .photos-grid {
  margin-top: 30px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.photos .photos-grid div {
  background-color: var(--color-four);
  border-radius: 10px;
  overflow: hidden;
}
.photos .photos-grid div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.photos .photos-grid div:nth-child(2) {
  grid-column: span 2;
}
.photos .photos-grid div:nth-child(3) {
  grid-column: span 3;
}
.photos .photos-grid div:nth-child(4) {
  grid-column: span 2;
}
/*   Menu Section */
.menu {
  margin: 70px 0px;
  text-align: center;
}
.menu h2 {
  margin-top: 20px;
}
.menu .menu-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.menu .menu-grid > div {
  height: 160px;
}
.burger-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-four);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.burger-image {
  flex: 3;
}
.burger-card-body {
  flex: 4;
  text-align: left;
  padding: 8px;
  color: rgb(27, 27, 39);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.burger-card-body h3 {
  font-size: 16px;
  color: var(--color-one);
}
.burger-card-body p {
  text-align: justify;
  line-height: 1;
  font-size: 14px;
}
.burger-card-body :nth-child(3) {
  color: var(--color-one);
  font-weight: 700;
  margin-top: auto;
  align-self: flex-end;
  font-size: 14px;
}
.burger-card .burger-image img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
/* Contact Us Section */
.contact-us {
  margin: 70px 0px;
  text-align: center;
}
.contact-us h2 {
  margin-top: 20px;
}
.contact-from {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-four);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.contact-from input,
.contact-from textarea {
  border: none;
  outline: none;
  font-family: inherit;
}
.contact-from textarea {
  resize: none;
}
.contact-from .form-row {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.contact-from .form-row label {
  display: block;
  flex: 1;
  color: var(--color-one);
}
.contact-from .form-row input,
.contact-from .form-row textarea {
  flex: 3;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid var(--color-three);
}
.contact-from .form-row input:focus,
.contact-from .form-row textarea:focus {
  border-color: var(--color-one);
}
.contact-from .form-row button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: var(--color-one);
  color: var(--color-three);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.contact-from .form-row button:active {
  background-color: #a73218;
}
/*   About Section  */
.about {
  margin: 70px 0px;
  text-align: center;
}
.about h2 {
  margin-top: 20px;
}
.about-container {
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--color-four);
  display: flex;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.about-image {
  flex: 1;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text {
  padding: 15px;
  text-align: justify;
  flex: 2;
}
.about-text p {
  margin-top: 20px;
}
/*   Footer Section */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: var(--color-three);
  background-color: var(--color-one);
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .navbar .links {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-one);
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 10px 20px;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .contact-from .form-row {
    flex-direction: column;
  }
  .contact-from .form-row label {
    text-align: start;
  }
  .about-container {
    flex-direction: column;
  }
  .burger-menu {
    display: block;
  }
}
